html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body {
  background: radial-gradient(
    circle,
    rgba(107, 107, 107, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header nav {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0);
}

header nav a {
  color: white;
  transition: transform ease 0.2s;
}

header nav a:hover {
  transform: scale(1.5);
}

nav div ul:hover li a {
  color: rgba(107, 107, 107, 1);
}

nav div ul li:hover a {
  color: orangered;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  color: white;
}

section h1 {
  font-weight: 100;
  color: orangered;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, white);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, orangered);
}

.menu-icon {
  color: white;
}

.nav-item {
  margin: 0 30px 0 0;
}

.first-block {
  display: flex;
  align-items: center;
}

.first-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.second-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
@media (max-width: 992px) {
  header {
    display: none;
  }
}
