html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

section {
  height: 100vh;
}

.hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.head h1 {
  transition: transform ease 0.15s;
}

.head h1:hover {
  transform: scale(1.5);
}

header nav {
  height: 7vh;
}

#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
